@import "tailwindcss";




body{
    background: radial-gradient(52.52% 32.71% at 50% 97.66%, rgba(36, 160, 181, 0.20) 0%, rgba(36, 160, 181, 0.00) 100%), #02191D;
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
}


.head-ing {
    font-family: "Road Rage", serif;

}

.roboto-font {
    font-family: "Roboto", sans-serif;
}

.p-font{
    font-family: "Alatsi", sans-serif;
    
}


